.form-create{
    color: rgb(247, 244, 246);
    background-color: rgba(46, 45, 45, 0.8);
    border: #b850e9;
    justify-content: center;
    display: flex;  
    flex-direction: column;
    width:100%;
    max-width: 600px;
    margin-top: 2rem;
    height: 95%;
    border-radius: 10px;
    margin: auto;
    padding: 60px;
}
.container-form-create{
    background-image: url("../images/fondosImages/addForm.jpg");
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
}

.btn-submit{
    margin-top: 10rem;
    margin: auto;
    display: inline-block;
}