.container-form{
    color: rgb(209, 64, 202);
    background-color: rgba(46, 45, 45, 0.8);
    border: #b850e9;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width:50%;
}

.mb-3{
    width: 50%;
}

.container{
    background-image:url("../../public/image/images2.jpg");
    background-size: 100%;
    padding:145px;
}